.head{
    text-align: center;
}
.head > h1 {
  color: black;
}

.slidecontainer {
    width: 100%;
    /* Width of the outside container */
    position: relative; }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    width: 80%;
    /* Full-width */
    height: 15px;
    /* Specified height */
    background: #f7ae9c;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    transition: all ease-in-out 300ms; }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */ }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    z-index: 999;
    height: 50px;
    border: 0;
    border-radius: 50%;
    background: url("../../../src/shared/logo.png");
    background-size: cover;
    cursor: pointer; }
  
  .slider::-moz-range-thumb {
    width: 40px;
    z-index: 999;
    height: 50px;
    border: 0;
    border-radius: 50%;
    background: url("../../../src/shared/logo.png");
    background-size: cover;
    cursor: pointer; }

    .continue-button{
      text-decoration: none;
      color: white;
    }
    .continue-button:hover{
      text-decoration: none;
      color: rgb(250, 234, 234);
    }