.add-account-button{
    background-color: rgb(236, 90, 37);
    color: white;
    border: none;
}
.modalForm{
    padding: 50px 15px
}
.modalForm input{

}
.modalForm label{
 font-weight: 600;
 padding: 0 5
}
