li:hover{
    padding-bottom: 20px;
    cursor: pointer;
    font-weight: 600;
}
li{
    transition: all ease-in-out 300ms;
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    text-decoration: none;
    color:black
}