.blogCard{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 1.1em;
    box-shadow: 2px 2px 5px rgb(165, 163, 163);
    border-right: 10px orangered solid;
    transition: all ease-in-out 600ms;
}
.blogCard:hover{
    background-color: rgb(241, 72, 6);
    color: white;
    cursor: pointer;
    
}
.blogTitle{
    color: black;
    font-size: 1.3em;
    margin-bottom: 20px;
    text-decoration: none;
}
.blogTitle a{
    text-decoration: none;
    color: black;
    transition: all ease-in-out 400ms;
}
.blogTitle a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);

}
#newBlog{
    border-right: 10px green solid;
}
#newBlog:hover{
    background-color: green;
    color: white;
    cursor: pointer;
    
}
.breadCrumb ol{
    background-color: rgba(0,0, 0, 0);
}
.breadCrumb ol ul a{
    color: black;
    text-decoration: none;
}